html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  color: #151a30;
}

#app {
  font-family: Poppins;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

[role='button'],
[type='button'],
[type='reset'],
[type='submit'],
button {
  cursor: auto;
  color: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.row {
  display: flex;
}

.spacer {
  flex: 1;
}

.font-medium {
  font-weight: 500;
}

$spaceamounts: (
  0.357,
  0.714,
  1.071,
  1.428,
  1.785,
  2.142,
  2.5,
  2.857,
  3.214,
  3.571,
  5.357,
  7.142
); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@for $index from 1 through length($spaceamounts) {
  $space: nth($spaceamounts, $index);
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$index} {
      margin-#{$side}: #{$space}rem !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$index} {
      padding-#{$side}: #{$index}rem !important;
    }
  }
  .mx-#{$index} {
    margin-left: #{$space}rem !important;
    margin-right: #{$space}rem !important;
  }
  .my-#{$index} {
    margin-top: #{$space}rem !important;
    margin-bottom: #{$space}rem !important;
  }
  .px-#{$index} {
    padding-left: #{$space}rem !important;
    padding-right: #{$space}rem !important;
  }
  .py-#{$index} {
    padding-top: #{$space}rem !important;
    padding-bottom: #{$space}rem !important;
  }
}

.clickable {
  cursor: pointer;
}
.clicky {
  opacity: 0.5;
}
